html {
    scroll-behavior: smooth;
}

* {
    outline: 1px solid red;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;


    background-image: url('/static/img/papel.png');
    /* Caminho da sua imagem */
    background-repeat: no-repeat;
    /* Repete apenas na horizontal */
    background-position: top;
    /* Alinha no topo */
    background-attachment: fixed;
    /* Permanece fixo no scroll */
    background-size: cover;
    /* Ajusta o tamanho da imagem */
    margin: 0;
    /* Remove margens para cobrir toda a tela */
    padding: 0;
}

h1 {
    font-family: "arvo", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 42px;
}

h2 {
    color: #f2911b;
    font-size: 30px;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "arvo", serif;
    font-weight: 700;
    font-style: normal;
    color: #032c36;
    font-size: 80px;
    margin-bottom: 0;
}

h4 {
    font-family: "arvo", serif;
    font-weight: 700;
    font-style: normal;
    color: #032c36;
    font-size: 6rem;
    margin: 0;
    z-index: 1;
}

h5 {
    font-family: "arvo", serif;
    font-weight: 700;
    font-style: normal;
    color: #032c36;
    font-size: 10rem;
    margin: 0;
    z-index: 1;
}

strong {
    color: #6c7374;
    font-size: 30px;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3rem;

}

p {
    color: #6c7374;
    font-size: 18px;
    font-family: "mundial", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 4rem;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    align-items: center;
    position: fixed;
    max-width: 100vw;
    min-width: 100vw;
    z-index: 1000;
    background-color: transparent;
    /* Fundo inicial */
    transition: background-color 0.5s ease;
    /* Transição suave */

}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fundo alterado */
}

header a img {
    width: 100px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding-left: 1rem;
}

header a:hover {
    text-decoration: underline #d44100 3px;
    /* color: #d44100; */
}

.home {
    background-image: url('/static/img/home.png');
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    background-size: cover;
    /* Faz a imagem preencher todo o espaço */
    background-position: center;
    /* Centraliza a imagem */
    max-width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.alem {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.image {
    position: absolute;
    /* Permite posicionar em locais específicos */
    max-width: 100vw;
    /* Escala a imagem em dispositivos menores */
    height: auto;
    z-index: 0;
}

.image-1 {
    top: 180px;
    left: 26%;
    /* Ajuste da posição horizontal */
    width: 150px;
    /* Tamanho da imagem */
}

.image-2 {
    bottom: 120px;
    right: 23%;
    width: 150px;
}

.conheca_metodologia {
    color: #d44100;
    font-family: "arvo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}



.somos {
    position: relative;
    /* Ok para contexto de posicionamento */
    max-width: 100vw;
    min-height: 100vh;
    /* Garante altura mínima */
    background-image: url('/static/img/background_somos.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.somos-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 720px;
    min-height: 120vh;
    z-index: 2;
}


.image-somos1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    height: auto;
    z-index: 0;
    /* Fica atrás do conteúdo*/
}

.somos strong {
    color: #fff;
    font-size: 40px;
    font-family: "mundial", sans-serif;
    font-weight: 500;
    font-style: normal;
    z-index: 3;
    /* (Opcional) garante que o texto fique visível */
    text-align: justify;

}

.somos p {
    color: #fff;
    font-size: 20px;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    z-index: 3;
    /* (Opcional) garante que o texto fique visível */
    text-align: justify;
}


.servicos {
    height: 85vh;
    width: 100vw;
    /* 100% da largura da viewport */
    display: flex;
    /* Garante que os itens sejam alinhados */
    justify-content: center;
    /* Centraliza horizontalmente os itens */
    align-items: center;
    /* Centraliza verticalmente os itens */
    background: url('/static/img/servicos.png') no-repeat center center;
    /* Ajusta a imagem */
    background-size: cover;
    /* Faz a imagem preencher o container */
    margin: 0;
    /* Remove possíveis margens */
    padding: 0;
    /* Remove possíveis paddings */
}


.servicos-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 980px;

}

.box-pergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.box-pergunta h1 {
    font-family: "arvo", serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 5rem;
}

.box-resposta {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.box-resposta a {
    text-decoration: none;
    color: #83f2ff;
    font-family: "arvo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

}


.criacao {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('/static/img/back_descricao_servicos.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Ajusta o ponto de início da imagem */
    height: 200vh;
    background-color: #fff;
}

.criacao-content {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: justify;

}

.criacao strong {
    color: #023440;
    font-family: "mundial", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}

.criacao p {
    color: #023440;
    font-family: "arvo", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    font-size: 20px;
}

.criacao h1 {
    margin-top: 0;
    font-family: "arvo", serif;
    font-weight: 700;
    font-style: normal;
    color: #4e9ca5;
    font-size: 62px;
}

.links-case {
    width: 720px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.trafego-content {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: justify;

}



.metodologia-grid {
    background-image: url('/static/img/background_metodologia_grid.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;

    max-width: 100vw;
    height: 105vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.metodologia-grid h1 {
    font-size: 5rem;
}

.seta1 {
    position: absolute;
    top: 83.2%;
}




.explicacao-metodologia {
    max-width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.titulo-conteudo {
    margin-left: -50%;
    margin-top: 10%;
}

.ex-conteudo {
    display: flex;
    flex-direction: column;
    width: 1280px;
    justify-content: center;
    align-items: center;
}


.quadros-metodologia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 8rem;
}

.quadro {
    padding: 20px;
    width: 25%;
    border: #4e9ca5 3px solid;
    border-radius: 20px;
}

.quadro h3 {
    font-family: "mundial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #023440;
}

.quadro p {
    font-family: "mundial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #023440;
}

.titulo-conteudo h1 {
    font-family: "arvo", serif;
    font-weight: 700;
    font-style: normal;
    color: #4e9ca5;
    font-size: 3rem;
    margin: 0;

}

h1.titulo-forte {
    font-size: 6rem;
    margin-bottom: 4rem;
}


.destaque-mercado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(138, 205, 204, 0.8);
    mix-blend-mode: multiply;

}

.destaque-content {
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.destaque-content h1 {
    color: #023440;
}

.destaque-content a {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 20px 80px;
    color: #f2911b;
    background-color: #023440;
    font-family: "Arvo", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.tirar-duvida {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tirar-duvida-title {
    width: 720px;
}

.tirar-duvida-title h2 {
    color: #de4700;
    white-space: nowrap;
    font-size: 60pt;
    font-weight: 700;
    margin-bottom: 0;
}



.faq {
    max-width: 720px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 8rem;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question span {
    font-family: "mundial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #032c36;
}

.toggle-btn {
    background: #8acdcc;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.answer {
    font-family: "Arvo", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    font-size: 20px;
    color: #555;
    display: none;
    /* Oculta a resposta por padrão */
}

.answer.active {
    display: block;
    /* Mostra a resposta quando ativa */
}


footer {
    margin-top: 4rem;
    max-width: 100vw;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.redes {
    margin-bottom: 50px;
}

.fa-instagram,
.fa-youtube,
.fa-linkedin {
    font-size: 50px;
    text-decoration: none;
    color: #6c7374;
    padding: 10px;
}


/* Responsividade */
@media (max-width: 768px) {

    .image-1,
    .image-2 {
        width: 100px;
        /* Redimensiona imagens para telas menores */
    }

    .image-1 {
        left: 5%;
    }

    .image-2 {
        right: 5%;
    }

    html {
        font-size: 70%;
        /* Reduz base para 14.4px */
    }

    header {
        width: calc(100vw - 18px);
    }
}


@media (max-width: 480px) {
    html {
        font-size: 50%;

        /* Reduz base para 12.8px */
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .criacao-content,
    .links-case,
    .trafego-content {
        width: 95vw;
    }

    header {
        width: calc(100vw - 18px);
    }

    .explicacao-metodologia,
    .ex-conteudo,
    .destaque-content,
    .tirar-duvida-title {
        width: 100vw;
    }

    .explicacao-metodologia h1,
    h2 {
        max-width: 90vw;
    }

    .quadros-metodologia {
        width: 100vw;
        flex-wrap: wrap;
        gap: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .quadro {
        width: 80%;
    }

    .destaque-content {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .tirar-duvida-title h2 {
        font-size: 50%;
    }

    .titulo-conteudo {
        margin-left: 0;
        margin-top: 30%;
    }


    .box-pergunta {
        padding: 20px;
    }

    .box-resposta {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box-resposta a {
        font-size: 20px;
    }

    .somos-content {
        padding: 20px;
    }

    .alem {
        max-width: 390px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .alem h3 {
        max-width: 90vw;
        font-size: 50px;
    }

    .alem strong {
        max-width: 90vw;
        margin: 0;
        font-size: 20px;
        text-align: justify;
    }

    .alem p {
        max-width: 90vw;
        font-size: 16px;
    }
}