body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;


    background-image: url('/static/img/papel.png');
    /* Caminho da sua imagem */
    background-repeat: no-repeat;
    /* Repete apenas na horizontal */
    background-position: top;
    /* Alinha no topo */
    background-attachment: fixed;
    /* Permanece fixo no scroll */
    background-size: auto;
    /* Ajusta o tamanho da imagem */
    margin: 0;
    /* Remove margens para cobrir toda a tela */
    padding: 0;
}

h1 {
    font-family: "arvo", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 42px;
}

h2 {
    color: #f2911b;
    font-size: 30px;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "arvo", serif;
    font-weight: 700;
    font-style: normal;
    color: #032c36;
    font-size: 80px;
    margin-bottom: 0;
}

strong {
    color: #6c7374;
    font-size: 30px;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3rem;

}

p {
    color: #6c7374;
    font-size: 18px;
    font-family: "mundial", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 4rem;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    position: fixed;
    width: 100%;

}

header a img {
    width: 100px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding-left: 1rem;
}

.home {
    background-image: url('/static/img/home.png');
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    background-size: cover;
    /* Faz a imagem preencher todo o espaço */
    background-position: center;
    /* Centraliza a imagem */

    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.alem {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.image {
    position: absolute;
    /* Permite posicionar em locais específicos */
    max-width: 100%;
    /* Escala a imagem em dispositivos menores */
    height: auto;
}

.image-1 {
    top: 180px;
    left: 26%;
    /* Ajuste da posição horizontal */
    width: 150px;
    /* Tamanho da imagem */
}

.image-2 {
    bottom: 120px;
    right: 23%;
    width: 150px;
}

.conheca_metodologia {
    color: #d44100;
    font-family: "arvo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}





/* Responsividade */
@media (max-width: 768px) {

    .image-1,
    .image-2 {
        width: 100px;
        /* Redimensiona imagens para telas menores */
    }

    .image-1 {
        left: 5%;
    }

    .image-2 {
        right: 5%;
    }
}