{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}
{% load static %}
{% block content %}
<div class="home">
    <h1>Criatividade + Estratégia + Marketing Digital</h1>
    <h2>= Seu negócio aonde você quer chegar</h2>
</div>
<div class="alem">
    <h3>Ir além é<br>O nosso lema</h3>
    <strong>Somos uma agência de Marketing digital <br>
        diferente na forma de pensar e agir.</strong>
    <p>Nossas estratégias de criação de conteúdo e tráfego pago são personalizadas <br>
        para otimizar o desempenho da sua marca nas redes e acelerar seus resultados.</p>
    <a href="" class="conheca_metodologia">Conheça nossa metodologia exclusiva</a>
</div>
{% endblock %}